@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);

@import 'variables';

* {
	box-sizing: border-box;
}

body,
html {
	font-family: $font-stack;
	margin: 0;
	padding: 0;
}

header {
	display: block;
	width: 100%;
	background-color: $generalColour;
	color: $black;
	padding: 10px;
	
	.navigation-title {
		display: inline-block;
		text-align: center;
		margin: 0 16px;
		min-width: 236px;
		width: 100%;
		max-width: calc(100% - 84px);
	}

	.icon {
		display: inline-block;
		width: 22px;
		height: 22px;
		cursor: pointer;
	}
}

nav {
	background-color: $black;
	width: 100%;
	display: inline-block;

	&.menu {
		
	}
	
	a {
		color: $grey;
		display: block;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		overflow: hidden;
		@include transition(all, 300ms);
		
		.icon {
			display: block;
			float: left;
			width: 22px;
			height: 22px;
		}
		
		.link-title {
			line-height: 22px;
			display: block;
			float: left;
			margin: 0 10px;
		}
		
		&:last-child {
			border-bottom: none;
		}
		
		&:hover {
			background-color: $grey;
		}
	}
}

@import 'transition.min';